.video-wrapper {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 68px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#video-background {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.h2-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  left: 0%;
  right: 0%;
  width: 100%;
}
h2 {
  color: aliceblue;
  font-family: $secondary_font;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  margin: 0 4rem;
  letter-spacing: 2px;
}

@media only screen and (max-width: 992px) {
  h2 {
    margin: 0 3rem;
    letter-spacing: 1px;
    font-size: 5rem;
  }
}
/* Small */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}
/* Extra-small */
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 2.5rem;
  }
}