@import "../../node_modules/bootstrap/scss/bootstrap";

/* Colors */
$primary_color: rgb(255,191,0);
$complementary_color_1: rgb(16,151,255);
$complementary_color_2: rgb(122,22,255);
$dark_bg_1: rgb(25,24,27);
$dark_bg_2: rgb(34, 33, 35);

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Dirt&display=swap');
$primary_font: 'Roboto', sans-serif; //font-family
$secondary_font: 'Rubik Dirt', sans-serif; //font-family

/* Stylesheets */
@import "header";
@import "intro";
@import "about";
@import "gallery";
@import "prices";
@import "contact";
@import "footer";

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-behavior: smooth;
  font-size: 16px; //Font size in html is used as rem unit.
}

body {
  margin: 0;
}
section {
  height: 100vh;
}
section:nth-child(2n) {
  background: $dark_bg_1;
}
section:nth-child(2n+1) {
  background: $dark_bg_2;
}