@import "../../node_modules/bootstrap/scss/bootstrap";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";

/* Colors */
$primary_color: #ffc600;
$secondary_color: #00a89a;
$light_bg: #f8f8f8;
$dark_bg: #191919;
$empty_color: #d9d9d9;
$h_font_color: #fafafa;

/* Fonts */
$primary_font: "Roboto";
$secondary_font: "Rubik Dirt";

/* For mobile phones: */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}
section {
  height: 100vh;
}
